* {
	
	margin:0;
	padding:0;

}
  
 
header {
    /*AJUSTAR LUGAR DE BARRA*/
    position: static;
   	margin-top:10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
    padding: 0;
    
}
 
nav {
	/*AJUSTAR LUGAR DE BARRA DONDE ESTAN UBICADOS*/
	
    top:-20px;
    position: absolute;
    left:0;
    right:0;
	margin:20px auto;
	max-width:1000px;
	width:100%;
	min-width: 10px;
}
 
nav ul {
	list-style:none;
}
 
nav > ul {
	display:table;
	width:100%;
	

  
	background:#00e5ff; /* COLOR BARRA */
	
}
 
nav > ul li {
	display:table-cell;
}
 
/*Sub-menu*/
nav > ul > li:hover > ul {
	
	display: block;
	height: 100%;
	display: table-cell;


}
 
nav > ul > li > ul {
	position: absolute;		
	background:#088780; /* COLOR SUBMENU*/
	left:0;
	right:0;
	overflow:hidden;
	height:1%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul li a {
	/*COLOR LETRA  O ICONOS de la barra*/	

	text-shadow: -2px -2px 1px #000, 1px 1px 1px #000, -2px 2px 1px #000, 1px -2px 1px #000;
	color:#FFF;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > ul > li a:hover {
	
	background:#000000; /*COLOR al desplasar mouse OPCION SUBMENU*/ 
}
 
nav > ul > li > a span {

	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}
 
nav > ul > li > a:hover > span {
	top:0;
}
 
/*Colores OPCIONES BARRA*/
nav ul li a .primero {
	background:#0e5061; /*COLORES BARRITAS DEL SUB MENU*/
}
 
nav ul li a .segundo {
	background:#5da5a2; /*COLORES BARRITAS DEL SUB MENU*/
}
 
nav ul li a .tercero {
	background:#f25724; /*COLORES BARRITAS DEL SUB MENU*/
}
 
nav ul li a .cuarto {
	background:#174459; /*COLORES BARRITAS DEL SUB MENU*/
}
 
nav ul li a .quinto {
	background:#37a4d9; /*COLORES BARRITAS DEL SUB MENU*/

}

