
 /*FORMULARIO CONTACTO*/
.sebitas{
  background-color: #fff;
  background-attach ment: fixed;
  width: 100%;
}
form{
  background-attachment: fixed;
  font-family: monospace;
  height: auto;
  width: 420px;
  margin: auto;
 background-image:  url(../pictures/dfborroso.jpg);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  
    }
form a{
  
   text-shadow: -1px -1px 1px #fff, 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;
  font-size: 30px;
}
h2{
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  display: contents;
color: #fff;
margin: 0;
font-size: 30px;
margin-bottom: 10;

}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border:none;
  background-color: rgb(25, 25, 25);
  
  
  }
textarea{

min-height: 150px;
max-width: 100%;
min-width: 100%;
z-index: 1;

}

#boton{
  background:#31384a;
  color: #fff;
  padding: 20px;
  transition: 300ms;
}
      
#boton:hover{
  cursor: pointer;
    padding: 22px;

} 
.imagef{
 
  position: absolute;
  position: left;
  top: 70px;
  left: 70%;
  height: 150px;
  width:  150px; 
  border-radius: 50%;
  transition: 900ms;
  filter: saturate(220%);
  box-shadow: 0px 0px 15px 15px #17a589;

  
}
.imagef:hover{
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform:scale(1.3);



}

#selecimg{
  width: 120px;
  height: 10px;

}

.selecimg:hover {-webkit-transform: rotate(360deg);transform: rotate(360deg);}

    
@media (max-width: 480px;) {
  form{
    width: 100%;
  }


}

s