
h1 {
	color: #fff;
	text-align: center;
}

/*Estilos de la galeria*/

.galeria {

	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;

}

.galeria img {
	width: 150px;
	height: 100px;
}

/*Estilos del modal*/

.modal {

	display: none;


}
.modal  a{
	font-family: Comic Sans MS;
	text-decoration: none;
	color: #fff;

}
.modal:target {
	text-decoration: none;
	display: block;
	position: fixed;
	background: rgba(0,0,0, 0.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 



}

.modal h3 {
	color: #fff;
	font-size: 0px;
	text-align: center;
	margin: 15px 0;

}

.imagen {	
	width: 100%;
	height: 47%;	
	display: flex;
	justify-content: center;
	align-items: center;


}

.imagen a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;


}

.imagen a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;


}

.imagen img {
	background-color: rgb(23, 30, 168, 0.7); 
	width: 500px;
	height: 96%;
	max-width: 100%;
	border: 7px solid; 
	box-sizing: border-box; 
	 border-radius: 20px;  

}

.cerrar {
	font-family: verdana;
	display: block;
	background: rgb(0, 255, 204, 0.9);
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;


}


.cerrar:hover {filter: opacity(.5);}

.textoo{
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    color: #05f2ff;
	border: 2px solid;  
	box-sizing: border-box; 
	font-family: VERDANA;	
	font-size: 14px;
	width: 500px;
	height: 230px;
	max-width: 100%;
	padding: 10;/*acomodar texto*/
	margin: 0px auto;/*acomodar texto*/	
	border-color: #fff;
	background-color: rgb(0.1, 250, 250, 0.1);}
.textoo2{
    
	border: 2px solid;  
	box-sizing: border-box;
	font-size: 19px;
	width: 500px;
	height: auto;
	max-width: 100%;
	padding: 10;/*acomodar texto*/
	margin: 0px auto;/*acomodar texto*/	
	border-color: #fff;
	background-color: rgb(23, 30, 168, 0.7);
	text-decoration: none;

}
.sincolor{
	font-family: verdana;
	text-decoration: none;
	color: yellow;
	font-size: 27px;


	
}
.sincolor2{
	  
  font-size: 18px;
  color: blue;
  		
}

.precio{

text-align-last: center;
  height: auto;
  margin: 3px;
  font-size: 30px;
  text-decoration: none; 
  }

 .textosali{ 
    font-size: 16px;
    width: 900px;
    height: auto;
    text-align: justify;
	
	
 }
 .imagenesali{
 	border: 1px solid;
 	float:left;
 	margin-left:100px;
 	border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
    background: #fff;
    margin-right: 20px;
    width: 250px;
    height: 230px;
    /*TRANSICIONES*/

transition: all 500ms ease-in-out;

 }
.imagenesali:hover  {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);

  }
 
.tamañofuente{
	
	 font-size: 20px;
}
.tamañofuente2{
	padding-top: 0%;
	margin-right: 6%;
	margin-left: 10%;
	font-size: 20px;
	text-align: justify;
	
}


