/*IMAGEN FONDO Y LETRA */


/*IMAGEN NUMERO 1 FONDO DE LA PAGINA */
    body {
            min-height: 100vh;
      background-image: url(FONDO.jpeg);     
      background-attachment: fixed; /*Imagen tamaño completo en la pantalla*/
      background-size: cover;/*ajustar imagen sin que se repita para cuando se agrande la pantalla */
      margin: 60;
      animation: normal; 
    }
         /*IMAGEN NUMERO 2 (BORROSA Y CENTRADA CON EL TEXTO)*/
    #content {
      
      text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000; /*TEXTO RESALTADO*/
      background-image: url(FONDO2.jpg); 
      background-size: cover; /*ajustar imagen sin que se repita para cuando se agrande la pantalla */      
      background-attachment: fixed; /*imagen en pantalla completa*/
      padding: 25px;/*acomodar texto*/
      margin: 0px auto;/*acomodar texto*/     
      max-width: 950px;/*centrar el texto*/
      }

         /*TEXTO SIN LETRA RESLATADA  */
      #content2 {
      
      
      background-image: url(IMG/FO NDO2.JPG);     
      background-size: cover; /*ajustar imagen sin que se repita para cuando se agrande la pantalla */      
      background-attachment: fixed; /*imagen en pantalla completa*/
      padding: 25px;/*acomodar texto*/
      margin: 0px auto;/*acomodar texto*/     
      max-width: 950px;/*centrar el texto*/
 }

/*IMAGENES ALINEADAS*/
}

.CONTAINERS {
  height: auto;
  width: 215px;
  max-width: 100%;
	margin: auto;
	display: block;
   display: contents ;

    }   
.img-fluid {
/*cuadro imagenes*/

background-color: rgb(0, 217, 242, 0.1);
border-radius: 30px;
border: 1px solid #00e5ff;
box-sizing: border-box;
display: inline-block;
padding: 1em;
height: 169PX ;
width: 226px;
max-width: auto;
transform: scale(1);
-ms-transform: scale(1);
-moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-webkit-transition: all 250ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out; 
margin:4px; 
cursor: url(http://developer.mozilla.org/wiki-images/es/e/ed/firefox.jpg);  }
    
/*efectos de imagenes al desplazar mouse*/
  .img-fluid:hover  {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);

}

{   

 }

