	/*ajustar imagen de la barra*/
	.sebas{    
	    top:-100px;
	     left:0%;
	    right:0%;
		margin:-5.1px auto;
		max-width:1000px;
		width:100%;
		transition:all .5s;
		
	} 
		/*al desplazar el mouse por la imagen se pondra borroso gracias a este codigo*/

	.sebas:hover {filter: blur(2px);}




