.slider{
	width: 95%;
	margin: auto;
	overflow: hidden;

}
.slider ul {
	display: flex;
padding: 0;
width: 400%;

animation: cambio 15s infinite alternate linear;
}
.slider li {
	width: 100%;
	list-style: none;

}
.slider img {
	top:-100px;
	     left:0%;
	    right:0%;
		margin:-5.1px auto;
		max-width:1000px;
		width:100%;
		height: 400px;

}

@keyframes cambio {
	0% { margin-left: 0; }
	20% { margin-left: 0; }
	25% { margin-left: -100%; }
	45% { margin-left: -100%; }

	50% { margin-left: -200%; }
	70% { margin-left: -200%; }

	75% { margin-left: -300%; }
	100% { margin-left: -300%; }
}
}
