.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right:  0; /* Establecemos la barra en la izquierda */
	top: 50%; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 28px 24px;
		text-decoration: none;
		-webkit-transition:all 3000ms ease;
		-o-transition:all 300ms ease;
		transition:all 300ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-mail {background: rgb(16, 0, 255, 0.83);} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-google {background: #ae181f;}
	.social ul li .icon-ma il 	{background: #afaa00;}
	.social ul i .icon-facebook {background: #afaa00;}
	

	.social ul li a:hover {
		background: rgb(0, 233, 255, 0.4); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 30px 40px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */

	}