*{
	margin: 0;
	padding: 0;
	font-family: Comic Sans MS;
}

section#banner{
	background-attachment: fixed;
	background-size: cover;
	width: 100; 
	background-image: url(../pictures/df2.jpg);
	background-attachment: contain;
	background-position: center;
	background-repeat: no-repeat;
	
}

header{
	position: fixed;
	width: 100%;
	height: 65px;
	background-color: transparent;
	-webkit-transition: background-color .5s;
	position: fixed;
	z-index: 1;
}

nav{
	display: table;
	margin: auto;
	margin-top: 10px;
	height: 40px;
	-webkit-transition: margin-left .5s;


}
ul{
	display: block;
	float: left;
	list-style: none;
}

ul li{
	float: left;
	margin: 10px;
	padding: 2px;
}

ul a{
	 text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
	font-size: 23px;
	color: #ffff;
	text-decoration: none;
	overflow: hidden;

}
nav > ul > a:hover {
	
	background:#000000; /*COLOR al desplasar mouse OPCION SUBMENU*/    }

img#logo{
	float:left;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 150px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

#body{
	width: 100%;
	height: auto;
	background-image: url(../pictures/background1.jpg);
	background-attachment: fixed;
	z-index: auto;
	background-size: cover;


}

/*/////////////////////////////////////////////////////////////////SLIDER//////////////*/
.slider{
	width: 95%;
	margin: auto;
	overflow: hidden;

}
.slider ul {
	display: flex;
padding: 0;
width: 400%;

animation: cambio 15s infinite alternate linear;
}
.slider li {
	width: 100%;
	list-style: none;

}
.slider img {
	top:900px;
	     left:0%;
	    right:0%;
		margin:-5.1px auto;
		max-width:1000px;
		width:100%;
		height: 400px;

}

@keyframes cambio {
	0% { margin-left: 0; }
	20% { margin-left: 0; }
	25% { margin-left: -100%; }
	45% { margin-left: -100%; }

	50% { margin-left: -200%; }
	70% { margin-left: -200%; }

	75% { margin-left: -300%; }
	100% { margin-left: -300%; }
}

/*///////////////////////////////////////////////////CONTENT////////////////////////*/
 #content {
      text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000; /*TEXTO RESALTADO*/
      background-color:rgb(122, 121, 121, 0.3);    
      padding: 10px;  /*
      background-size: cover; /*ajustar imagen sin que se repita para cuando se agrande la pantalla       
      background-attachment: /*fixed; imagen en pantalla completa
      padding: 25px;/*acomodar texto */ 
      margin: 0px auto;/*acomodar texto*/     
      max-width: 950px;/*centrar el texto*/

      }
#content2{
      
       /*TEXTO RESALTADO*/
          /*
      background-size: cover; /*ajustar imagen sin que se repita para cuando se agrande la pantalla       
      background-attachment: /*fixed; imagen en pantalla completa
      padding: 25px;/*acomodar texto */ 
      margin: 0px auto;/*acomodar texto*/     
      max-width: 950px;/*centrar el texto*/

      }
#creditos{
	background-size: cover;
	background-attachment: fixed;
	height: auto;
 max-width: 100%;
 background-image: url(../pictures/backgroundborroso.jpg);

 text-align: center;

}
#copyright{	

    color: #fff;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000; /*TEXTO RESALTADO*/
	padding: 10px;
	font-size: 20px;
	text-align: center;}

#creditos a{
	
	font-size: 50px;
	margin: 10px;
	display: inline-block;
	background-color: #fff;	
	text-decoration: none;
	color: #17a589;
	width: 70px;
     height: auto;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     text-align: center;
     transition: 300ms;
}
#creditos a:hover{
	transition: 300ms;
	
	-webkit-transform:scale(1.1);
	transform:scale(1.1);

}

.img-fluid {
/*cuadro imagenes*/

background-color: rgb(0, 217, 242, 0.1);
border-radius: 30px;
border: 1px solid #00e5ff;
box-sizing: border-box;
display: inline-block;
padding: 1em;
height: 169PX ;
width: 220px;
max-width: auto;
transform: scale(1);
-ms-transform: scale(1);
-moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-webkit-transition: all 250ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out; 
margin:4px; 
cursor: url(http://developer.mozilla.org/wiki-images/es/e/ed/firefox.jpg);  }
    
/*efectos de imagenes al desplazar mouse*/
  .img-fluid:hover  {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);

}
.imagenesmore{
	margin: 10px;	   
	width: 600px;
	height: 338px;
}
.textomore{
	color: #17a2a5;
	font-size: 30px;
}

